[Unit] 
Description=Files Mover Service 
After=network.target 

[Service] 
User=root 
ExecStart=/bin/bash /tmp/script/script.sh 
RestartSec=5s 
Restart=on-failure 

[Install] 
WantedBy=multi-user.target